ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.gallery {
  padding-left: 156px;
  padding-right: 156px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
}
.gallery-image {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}
.gallery-image:hover {
  transform: scale(1.05);
}
