.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

.feedback-form textarea {
  width: 360px;
  height: 80px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.feedback-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.feedback-form button {
  margin-bottom: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
.feedback-form button:hover {
  background-color: #6c8cff;
}
.feedback-form input:hover {
  border: 1px solid #000;
}
.feedback-form input:focus {
  border: 1px solid #808080;
  outline: none;
}

.feedback-form textarea:hover {
  border: 1px solid #000;
}
.feedback-form textarea:focus {
  border: 1px solid #808080;
  outline: none;
}
